---
title: Contact
description: Send us a message to find out more!
map:
  latitude: -43.3822
  longitude: 3.5042
  address: "860 rue de Saint Priest, Montpellier, France"
  zoom: 13
image: https://source.unsplash.com/WNAO036c6FM/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Get in touch today</h1>
			<p class="subtext editable">If you have any questions or queries send us a message and we'll get back to you as soon as we can.</p>
		</div>
	</div>
</section>

<div class="content">
  <section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contact</h2>
				<p class="editable">
				  For any questions, please do not hesitate to contact <a href="mailto:daniel.doerr@hhu.de">Daniel Doerr</a>, or <a href="mailto:fawaz@hhu.de">Fawaz Dabbaghie</a>.
				</p>
			</div>
<!-- 			<div class="contact-details">
				<h3>Address</h3>
				<address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address>
				<h3>Email</h3>
				<p class="editable"><a href="mailto:{{ site.contact_email }}">{{ site.contact_email }}</a></p>
		</div> -->
	</section>



	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})"> -->
	<!-- 	<div class="inner-hero text-container"> -->
	<!-- 		<div class="hero-text-container"> -->
	<!-- 			<h2 class="editable">Find your buddy today</h2> -->
	<!-- 			<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p> -->
	<!-- 			<div class="cta button alt"><a href="#">Join Now</a></div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </section> -->
</div>