---
title: Topic, Aim, & Spirit
description: Workshop Data Structures in Bioinformatics
image: img/nithya-ramanujam-droplets-board.jpg
bottom_image: https://source.unsplash.com/MqJX_8EaStM/2000x1322?a=.png
# https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Topic, aim & spirit</h1>
			<p class="subtext editable">Where do we go. What do  we look for, and how.
			</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
  <section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Topic</h2>
				<p class="editable">
				  Life sciences in general, and particularly biology, are experiencing a revolution due technological innovations that allow easy, efficient, and comparatively unexpensive data acquisition.  For instance, the advent of deep sequencing technologies (also termed "High Throughput Sequencing" or "Next Generation Sequencing") in 2005, has not only boosted the volume of data produced, but also stirred hundreds of new uses of (new types of assays based on) sequencing. With these, life scientists can now obtain in a single experiment enough sequences to reconstruct an entire Human genome sequence. Similar technological breakthroughs also arise in imaging or in bio-logging. 
				</p>
			</div>
			<div class="image">
			  {% include local-img.html
			  max-width='400px'
			  width='250px' 
			  file="img/bekir-donmez-stones.jpg"
			  alt="Ordered stones - Land art (credit: photo by Bekir Dönmez on Unsplash)" %}
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Aim</h2>
				<p class="editable">
				  Analysing such volume of data requires sophisticated algorithms and data structures.  The design of efficient and scalable computational solutions arise mostly from computer science.  Since the seminal progress made in the early 2000's, the field of indexing data structures for digital data is blooming and witnesses a myriad of applications in Bioinformatics.  Current tools allow mine huge volumes of sequences. The question of efficient data structures for managing Big Data in computational biology is key to the development of scalable software for data analysis in life sciences.
				</p>
			</div>
			<div class="image">
			  {% include local-img.html
			  file="img/mathew-schwartz-orchid.jpg"
			  max-width='400px'
			  width='250px' 
			  alt="Orchid structure (credit: Photo by Paul Talbot on Unsplash)" %}
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Spirit</h2>
				<p class="editable">
				  The creation in 2014 of an international workshop on <i>Data Structures in Bioinformatics</i> (DSB for short) is an incentive to match this challenge.  Since then, we organize every year this workshop to foster discussions, exchanges and collaborations on these topics.  DSB is conceived as an incubator of ideas,  and collaborations. To this aim, DSB sets up a forum with a relaxed atmosphere and appropriately small group of participants over a usually two days meeting. It alternates invited or contributed presentations, which expose state of the art techniques and recent advances in the field, with long periods of discussion. Up to now, thanks for various source of support and to the involvement of successive organisers, registration was kept free of charge.
				</p>
			</div>
			
			<div class="image">
			  {% include local-img.html
			  file="img/paul-talbot-flower-geometric.jpg"
			  max-width='400px'
			  width='350px' 
			  alt="Geometry in dandelion flowers (credit: Photo by Paul Talbot on Unsplash" %}
			</div>
		</div>
	</section>

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})"> -->
	<!-- 	<div class="inner-hero text-container"> -->
	<!-- 		<div class="hero-text-container"> -->
	<!-- 			<h2 class="editable">Find your buddy today</h2> -->
	<!-- 			<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p> -->
	<!-- 			<div class="cta button alt"><a href="#">Join Now</a></div> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
	<!-- </section> -->
</div>
