---
title: DSB History
description: History of Data Structures in Bioinformatics
image: img/leaf-wood-closeup-landscape.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
  <div class="inner-hero text-container">
    <div class="hero-text-container">
      <h1 class="editable">History of Data Structures in Bioinformatics</h1>
      <p class="subtext editable">Launched in 2014, the workshop "Data Structures in Bioinformatics" has been organized once a year by members of the DSB community to discuss recent advances in the field.
      </p>
    </div>
  </div>
  <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

  <section class="info" id="learn-more">
    <div class="container flex">
      <div class="image">
	<img class="editable" src="img/montpellier_arbre_blanc_detail.jpg" alt="Montpellier, Hérault, France, White Tree building (credit: Photo by Guillaume Bleyer on Unsplash)" />
      </div>
      <div class="text">
	<h2 class="editable">Previous editions of DSB</h2>
	<p class="editable">From Montpellier to Delt...
	  <ul>
	    <li><a href="https://dsb-meeting.github.io/DSB2023/">DSB 2023</a> &#x2013; 9th workshop on Data Structures in
            Bioinformatics, Delft, Holland, March 21-22, 2023
	      organizers: Thomas Abeel, Jasmijn Baaijens,  (Univ. Delft)
	    </li>
	    <li><a href="https://dsb-meeting.github.io/DSB2022/">DSB 2022</a> &#x2013; 8th workshop on Data Structures in
            Bioinformatics, Düsseldorf, Germany, June 13-14, 2022
	      organizers: Fawaz Dabbaghie, Daniel Doerr, Sabine Gierling, Gunnar Klau, Tobias Marschall, Max Ried (Heinrich Heine Univ. Düsseldorf)
	    </li>
	    <li><a href="https://dsb-meeting.github.io/DSB2021/">DSB 2021</a> &#x2013; 7th workshop on Data Structures in
            Bioinformatics, Milano, Italy, February 11-12, 2021
	      organizers: Paola Bonizzoni (Uni. Milano-Bicocca), Gianluca Della Vedova (Uni. Milano-Bicocca), Yuri Pirola Yuri Pirola, Raffaella Rizzi Raffaella Rizzi
	    </li>
	    <li><a href="https://dsb-meeting.github.io/DSB2020/">DSB 2020</a> &#x2013; 6th workshop on Data Structures in
            Bioinformatics, Rennes, France, February 4-5, 2020
	      organizers: Lolita Lecompte (Univ. Rennes), Marie Le Roïc (Univ. Rennes), Téo Lemane (Inria Rennes), Pierre Peterlongo (Inria Rennes).
	    </li>
	    <li><a href="https://dsb2019.gitlab.io/">DSB 2019</a> &#x2013; 5th workshop on Data Structures in Bioinformatics, Dortmund, Ruhr Metropolitan Area, Germany, February 5-6, 2019
	      organizers: Johannes Fischer (TU Dortmund), Johannes Köster (University of Duisburg-Essen), and Sven Rahmann (University of Duisburg-Essen).
	    </li>
	    <li><a href="http://dsb2018.cs.helsinki.fi/">DSB 2018</a> &#x2013; 4th workshop on Data Structures in Bioinformatics, Helsinki, Finland, May 16–17, 2018
	      organizers: Veli Mäkinen (Univ. Helsinki), Simon J. Puglisi (Univ. Helsinki)
	    </li>
	    <li><a href="https://dsb2017.github.io/">DSB 2017</a> &#x2013; 3rd workshop on Data Structures in Bioinformatics, Amsterdam, Nederlands, February 21-22, 2017
	      organizers: Jasmijn Baaijens (CWI Amsterdam), Johannes Köster (CWI Amsterdam), Alexander Schönhuth  (CWI Amsterdam)
	    </li>
	    <li><a href="https://didy.uni-bielefeld.de/DSB2015">DSB 2016</a> &#x2013; 2nd workshop on Data Structures in Bioinformatics, Bielefeld, Germany, February 23-24, 2016.
	      organizers: Guillaume Holley (Bielefeld Univ.), Roland Wittler (Bielefeld Univ.), Jens Stoye (Bielefeld Univ.), Eric Rivals (CNRS Montpellier) 
	    </li>
	    <li><a href="https://www.lirmm.fr/~rivals/DSB-2014/">DSB 2014</a> &#x2013; 1st workshop on Data Structures in Bioinformatics, Montpellier, France, December 8-9, 2014.
	      organizers: Eric Rivals (CNRS Montpellier), Alberto Policriti (Univ. Udine, IT), Simon J. Puglisi (Univ. Helsinki).
	    </li>
	  </ul>
	  DSB was preceded by a <a href="https://www.didy.uni-bielefeld.de/workshoppangenomestoragesearch">Mini-Workshop</a> on the Storage, Search and Annotation of Multiple Similar Genomes, held in Bielefeld University, on December 9-10, 2013.
	</p>
      </div>
    </div>
  </section>

  <section class="info" id="hosts">
    <div class="container flex">
      <div class="image">
	<img class="editable" src="img/amsterdam_houses_canal.jpg" alt="Amsterdam, The Nederlands, Houses along a canal (credit: Photo by Robin Benzrihem on Unsplash)" />
      </div>
      <div class="text">
	<h2 class="editable">Hosting institutions</h2>
	<p class="editable">Reknown universities and scientific institutes have generously hosted DSB:
	  <ul class="org-ul">
	    <li><a href="https://www.hhu.de/en/">Heinrich Heine University Düsseldorf, Germany</a>
	    </li>
	    <li><a href="https://www.unimib.it">University of Milano-Bicocca</a>
	    </li>
	    <li><a href="https://www.inria.fr/en/centre-inria-rennes-bretagne-atlantique">Inria Rennes, France</a>
	    </li>
	    <li><a href="https://www.tu-dortmund.de/">Technical University of Dortmund</a>
	    </li>
	    <li><a href="https://www.helsinki.fi/en">University of Helsinki</a> and Helsinki Institute for Information Technology (HIIT)
	    </li>
	    <li><a href="https://www.cwi.nl">Centrum Wiskunde &amp; Informatica</a> (CWI) Amsterdam. CWI is the national research institute for mathematics and computer science in the Netherlands.
	    </li>
	    <li><a href="https://www.uni-bielefeld.de/">University of Bielefeld</a>
	    </li>
	    <li>Computer Science Lab (LIRMM), <a href="http://www.cnrs.fr/en">CNRS</a> &amp; <a href="https://www.umontpellier.fr/en">University of Montpellier</a>
	    </li>
	  </ul>
	</p>
      </div>
    </div>
  </section>

  <section class="info">
    <div class="container flex">
      <div class="image">
	<img class="editable" src="img/dortmund_u.jpg" alt="Screenshot" />
      </div>
      <div class="text">
	<h2 class="editable">Sponsors</h2>
	<p class="editable">Up to now, DSB has beneficiated from the support of scientific programs in which the organizers are or were involved in. If you want to support the organization of the next workshop, contact us.
	  <ul class="org-ul">
	    <li>Rennes1 University
	    </li>
	    <li>SFBI (Societe Français de Bioinformatique)
	    </li>
	    <li>IFB (Institut Français de Bioinformatique)
	    </li>
	    <li>CNRS (GdR IM and GdR BiM)
	    </li>
	    <li>IRISA Rennes
	    </li>
	    <li>Mercator Research Center Ruhr (MERCUR), grant Pe-2013-0012, UA Ruhr Professorship of Sven Rahmann
	    </li>
	    <li>Netherlands Organisation for Scientific Research (NWO), Veni grant "Fully reproducible workflows scaling from workstations to the cloud" to Johannes Köster
	    </li>
	    <li>Research group "Algorithmic Foundations and Education in Computer Science" headed by Johannes Fischer
	    </li>
	    <li>Helsinki Institute for Information Technology.
	    </li>
	    <li>European Project BIRDS: Bioinformatics and Information Retrieval Data Structures Analysis and Design.
	    </li>
	    <li>EU COST SeqAhead project.
	    </li>
	    <li>"Défi Mastodons" project from CNRS to Eric Rivals.
	    </li>
	  </ul>
	</p>
      </div>
    </div>
  </section>
  <!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})"> -->
  <!--   <div class="inner-hero text-container"> -->
  <!--     <div class="hero-text-container"> -->
  <!-- 	<h2 class="editable">Find your buddy today</h2> -->
  <!-- 	<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p> -->
  <!-- 	<div class="cta button alt"><a href="#">Join Now</a></div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </section> -->
  <!-- </div> -->
